[workspace]
members = ["tip", "update", "xtask"]
exclude = ["editor", "preferences"]
resolver = "3"

[workspace.dependencies]
chewing = "0.12.0-alpha.2"

[profile.release]
lto = "thin"
panic = "abort"
debug = true
