[workspace]
members = ["tip", "update", "xtask"]
exclude = ["editor", "preferences"]
resolver = "3"

[workspace.dependencies]
chewing = "0.11.0"

[profile.release]
lto = "thin"
panic = "abort"
debug = true
split-debuginfo = "packed"
