name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  merge_group:
    types: [checks_requested]

env:
  RUST_VERSION: "1.70"

jobs:
  build:
    runs-on: windows-latest
    name: Smoke test - build only

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756

      - name: Setup rustup
        run: |
          rustup default ${{ env.RUST_VERSION }}
          rustup update

      - name: Build
        run: |
          cmake -B build
          cmake --build build
